body {
  background-color: ;
  font-family: Helvetica, Arial;
}

#header {
	background-color: #EEEEEE;
	width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
}

#content{
	background-color: #FFFFFF;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
}

#test{
	background-color: #FFFFFF;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 0px 10px 0px;
	color: red;
}